*{
    margin: 0%;
    padding: 0;
}


body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    display: grid;
    grid-template-areas: "header"
                        "main"
                        "footer";
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

header{
    margin: 0 20%;
    border-radius: 0px 0px 20px 20px ;
    grid-area: header;
    display: grid;
    grid-template-areas:  "imagen imagen"
                            "titulo titulo";
    grid-template-columns: 2fr 1fr;
    top: 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.idioma{
    grid-area: idioma;
    display: flex;
    justify-content: space-around;
    margin: 20% 0;
}
a{
    text-decoration: none;
    font-size: calc(1.5em + 1vw);
    font-weight: 900;
    text-align: center;
}
.español{
    background-color: #66a6ff;
    padding: 5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.italiano{
    background-color: #66a6ff;
    padding: 5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.imagen{
    grid-area: imagen;
    display: flex;
}
.imagen > img{
    width: 100%;    
}
.titulo{
    grid-area: titulo;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 20px 20px ;
    
}

main{
    display: grid;
    grid-template-areas:    "dr "
                            "idioma "
                            "texto "
                            "texto"
                            "objetivo"
                            "contacto ";
    grid-template-rows: 1fr, 1fr;
    grid-row-gap: 20px;
    grid-area: main;
    margin: 0%;
}



h1{
    margin: 7% 0;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: calc(3em + 1vw);
}

h2{
    color: rgb(1, 33, 75);
    text-transform: uppercase;
    text-align: center;
    font-size: calc(2em + 1vw);
}

h3{
    text-align: center;
    grid-area: dr;
    color: rgb(1, 33, 75);
    text-transform: uppercase;
    font-size: calc(2.5em + 1vw);
    margin: 20% 0 0% 0;
}
.dr{
    display: flex;
    justify-content: center;
}
.doctor{
    margin: 0 auto;
    width: 30%;
    grid-area: doctor;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.what{
    position: fixed;
    top: 80%;
    left: 85%;
}

.what > img{
    width: 50%;
}

footer{
    grid-area: footer;
    background-color: rgb(64, 169, 255);
    height: 50px;
}

footer > p{
    text-align: center;
    line-height: 50px;
    font-size: calc(2.5em + 1vw);
}
@media screen and (max-width: 480px) {
    header{
        margin: 0 10%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0px 0px 20px 20px ;
    }  
    .idioma{
        display: flex;
        flex-direction: column;
        margin: 20% 0;
    }

    .español{
        text-decoration: none;
       margin: 5%;
    }
    .italiano{
        margin: 5%;
    }
   .dr{
       margin: 100px 0;
   }
    .titulo{
      border-radius: 0px 0px 20px 20px ;
    }
    h1{
        font-size: calc(2em + 1vw);
    }
    h2{
        font-size: calc(1em + 1vw);
       margin-bottom: 5%;
    }
    .what{
        width: 20%;
        top: 85%;
        left: 72%;
    }
    .what > img{
        width: 100%;
        margin-right: 50%;
    }
    footer > p{
       font-size: calc(0.6em + 1vw);
    }
}

@media screen and (max-width: 1200px) {
    .titulo{
      border-radius: 0px 0px 20px 20px ;
    }
    h1{
        font-size: calc(2em + 1vw);
    }
    h2{
       font-size: calc(1.2em + 1vw);
       margin-bottom: 5%;
    }
    .dr{
        width: 50%;
        margin: 0 auto;
    }
    main{
        margin-top: 50px;
        grid-template-areas:    "dr "
        "idioma "
        "texto "
        "texto"
        "objetivo"
        "contacto ";
    }
    .what{
        width: 20%;
        top: 85%;
        left: 80%;
    }
    .what > img{
        width: 60%;
        margin-right: 50%;
    }

    footer > p{
       font-size: calc(0.6em + 1vw);
    }
}